################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dapper.UoW/bin/Debug
/Dapper.UoW.ConsoleUI/bin/Debug
/.vs/Dapper.UoW/v15
/Dapper.UoW/obj/Debug
/Dapper.UoW/obj
/Dapper.UoW.ConsoleUI/obj
/Dapper.UoW.ConsoleUI/Dapper.UoW.ConsoleUI.csproj.user
/.vs
/Dapper.UnitOfWork/obj
/Dapper.UnitOfWork.Example/obj
