################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dapper.UnitOfWork/bin/Debug
/Dapper.UnitOfWork.Example/bin/Debug
/.vs/Dapper.UnitOfWork/v15
/Dapper.UnitOfWork/obj/Debug
/Dapper.UnitOfWork/obj
/Dapper.UnitOfWork.Example/obj
/Dapper.UnitOfWork.Example/Dapper.UnitOfWork.Example.csproj.user
/.vs
