################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dapper.Uow/bin/Debug
/Dapper.Uow.ConsoleUI/bin/Debug
/.vs/Dapper.Uow/v15
/Dapper.Uow/obj/Debug
/Dapper.Uow/obj
/Dapper.Uow.ConsoleUI/obj
/Dapper.Uow.ConsoleUI/Dapper.Uow.ConsoleUI.csproj.user
/.vs
